<h1><%= @user.username %>'s repos</h1>
<p><%= link_to 'Logout', auth_logout_path %></p>
<p>Watch three of your branches.</p>
<ul>
  <% @user.watchers.each do |watcher| %>
    <% @watcher = watcher %>
    <li>
      <% if watcher.branch.nil? && watcher.branch.nil? && watcher.branch.nil? %>
        <%= render :partial => "watchers/form", :locals => {:item => @watcher} %>
      <% else %>
        <% if @edit == watcher.id %>
          <%= render :partial => "watchers/form", :locals => {:item => @watcher} %>
        <% else %>
          <%= render :partial => "watchers/item", :locals => {:item => @watcher} %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>