<h1><%= @user.username %>'s repos</h1>
<ul>
  <% @repositories.each do |repository| %>
    <li>
      <h2><%= repository["name"] %></h2>
      <span>Branches</span>
      <ul>
        <% repository["branches"].each do |branch| %>


          <li>
            <%= branch[0]["name"] %> - 
            <% watcher = Watcher.where(:username => @user.username, :repository => repository["name"], :branch => branch[0]["name"]).limit(1) %>
            <% if watcher.empty? %>
              <%= link_to "Watch?", watchers_path( :watcher => {:username => @user.username, :repository => repository["name"], :branch => branch[0]["name"] } ), :method => :post %>
            <% else %>
              <%= link_to "Unwatch?", watcher_path( :id => watcher[0][:id] ), :method => :delete %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>